


table{
    border: 1;
    /* cellpadding:0; */
    width: 100%;

}



.hat{
    font-style: italic; /*курсивный текст*/
    font-size: large;
    color: black;
    right: 2000;
    text-align: center;
    
    
}



.boots{
    text-align:center;
    
}


input:invalid {
    border: 2px dashed rgb(51,153,255);
}

/* 
input:valid {
    border: 2px solid black;
} */